/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: $white;
    width: 90%;
    max-height: 450px;
    max-width: 500px;
    padding: 10px;
    display: inline;
    border-radius: 5px;
    outline: none;
    h4 {
        margin-left: 10px;
        margin-top: 10px;
        color: $black;
    }
        
    .custom-modal-footer {
        display: flex;
        justify-content: flex-end;
        button{
            padding-left: 15px;
            margin: 5px;
        }

        .btn-primary {
            background-color: $primary;
        }
        .btn-secondary {
            background-color: $gray_dark;
            color: $black;
            border: none;
        }
    }

  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

