.todo__container {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-flow: column;
    width: 100%;
    min-height: 100vh;
    background-color: $background-view;
}

.navbar {
    width:90%;
}