// colors
$primary: #3C5CBF;
$secondary: #F4F5F7;

$gray_light: #C7CAD1;
$gray_dark: #C8C9D1;

$hover: #393F57;
$focus: #3C5CBF;
$error: #AA1332;

// Fonts
$white: #FFFFFF;
$black: #1D223F;
$black-light: #4E526B;

$green: #00875F;
